<template name="nav">
  <div class="nav-button">
    <a href="" id="menu"><i class="fa fa-bars"></i></a>
  </div>
  <div class="side-nav">
    <ul>  
      <li><a href="/">Home</a></li>
      <li><a href="/ironTable">Iron Table</a></li>
      <li><a href="/tabularTable">Tabular Table</a></li>
      <li><a href="/reactiveTable">Reactive Table</a></li>
      <li><a href="/modalTest">Modal Tests</a></li>
      <li><a href="/photoUpTest">PhotoUp Test</a></li>
    </ul>
  </div>
  <div class="overlay"></div>
</template>