
<template name="modalTest">
  <div class="modal-test container">
    
    <h4 class="title">Toast Tests</h4>

    <div class="row">
      <div class="col s3">
        <button id="success" class="btn waves-effect waves-light blue">Success</button>
      </div>
      <div class="col s3">
        <button id="info" class="btn waves-effect waves-light green">Info</button>
      </div>
      <div class="col s3">
        <button id="warning" class="btn waves-effect waves-light orange">Warning</button>
      </div>
      <div class="col s3">
        <button id="error" class="btn waves-effect waves-light red">Error</button>
      </div>
    </div>


    <h4 class="title">Modal Tests</h4>

    <div class="row">
      <div class="col s3">
        <button id="messageTest" class="btn waves-effect waves-light">Message</button>
      </div>
      <div class="col s3">
        <button id="alertTest" class="btn waves-effect waves-light yellow black-text">Alert</button>
      </div>
      <div class="col s3">
        <button id="errorTest" class="btn waves-effect waves-light red">Error</button>
      </div>
      <div class="col s3">
        <button id="fullscreenTest" class="btn waves-effect waves-light purple">Full Screen</button>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <button id="confirmTest" class="btn waves-effect waves-light blue">Confirm</button>
      </div>
      <div class="col s3">
        <button id="promptTest" class="btn waves-effect waves-light orange">Prompt</button>
      </div>
      <div class="col s3">
        <button id="formTest" class="btn waves-effect waves-light green">Form</button>
      </div>
      <div class="col s3">
        <button id="loadingTest" class="btn waves-effect waves-light yellow black-text">Loading</button>
      </div>
    </div>

  </div>
</template>